<li class="liItem">
    <H1>{{name}}<H1>
            <h2>Capital: {{capital}}</h2>
            <h2>Population: {{population}}</h2>
            <ul>
                <h2>languages:</h2>
                {{#each languages}}
                <li>{{name}}</li> 
                {{/each}}
            </ul>
</li>`